nav {
    background-color: rgb(66, 30, 54);
    padding-bottom: .75em;
}

nav a {
    color: #f0f2f5;
    text-decoration: none;
    padding: 10px;
}

nav a.active {
    color: #f0f2f5;
    font-weight: bold;
    box-sizing: border-box;
}

nav a.active:hover {
    color: #f0f2f5 !important;
}

nav a:hover {
    text-decoration: none;
    color: #f0f2f5;
}

nav a.active.navbar-brand {
    border-bottom: none;
}

nav a:not(.navbar-brand):hover {
    font-weight: bold;
}

.navbar-brand {
    font: 3em sans-serif;
}